<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_cart.html') }}">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <table class="cart">
        <tr>
            <th>Order</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                <a href="/orders/{{ order[0] }}">
                    {{ order[0] }} - {{ order[7] }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>